*{ box-sizing: border-box }
body{ margin: 0; padding: 0; background-color: #041C32; position: relative; overflow: hidden; }


h1{ text-align: center; margin-bottom: 0; color: #ECB365 }
body p{ text-align: center; margin: 0; color: #8f9091 }

.restartGame{
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}.restartGame button{
    background-color: #ECB365;
    border: none;
    padding: 10px;
    font-size: 17px;
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(0,0 ,0, 0.5);
    transition: background-color linear .2s;
}.restartGame button:hover{ background-color: #cf9b52; }

.gameContainer{ width: fit-content; margin: 50px auto }
.gameGrid{
    width:100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
}
.square{
    width:130px;
    height: 130px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.square3, .square4, .square5{ border-top: 10px solid #064663; border-bottom: 10px solid #064663}
.square8, .square5, .square2{ border-left: 10px solid #064663 }
.square0, .square3, .square6{ border-right: 10px solid #064663 }


/*--------------- ICONS ---------------------*/

.xIcon{ width: 100%; height: 100%; position: relative; pointer-events: none; }
.xIcon .x1, .xIcon .x2{ 
    position: absolute;
    left: 50%;
    top: 50%;
    height: 80%;
    width: 10%;
    background-color: #ECB365;
}
.xIcon .x1{ transform: translate(-50%,-50%) rotate(45deg) }
.xIcon .x2{ transform: translate(-50%,-50%) rotate(-45deg) }

.circleIcon{
    width: 70%;
    height: 70%;
    border-radius: 50%;
    border: 18px solid #ECB365;
    pointer-events: none;
}

.iconOpacity{ opacity: 0.4 }
.select{ cursor: auto }

/*--------------- MEDIA QUERIES ---------------------*/

